doctype html
html
    head
        title Error
        link(rel='stylesheet', href='/css/style.css')
    body
        h1.error_title ERROR
        p.error_message The value you entered is not valid. Please click the back button and try again.
        br
        a(href='/super') Back